
 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my site  <br>
    name :<%= @product.name %> <br>
     price:<%= @product.price %> <br>
   description  :<%= @product.description %><br>
    
    </h1>
   <p><strong>" Product successfully created  "</strong></p>
    <p>Thankyou</p>
  </body>
</html>
s