<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to OLX.com</h1>
    <p>
      You have successfully signed up to OLX.com<br>
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link:  http://127.0.0.1:3000/login? .
      Thanks for joining and have a great day!</p>
  </body>
</html>
